Package: com.eevee.spotify
Name: EeveeSpotify
Version: 3.0
Architecture: iphoneos-arm
Description: A tweak to get Spotify Premium for free, just like Spotilife
Maintainer: Eevee
Author: Eevee
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0), org.swift.protobuf.swiftprotobuf
