Package: com.eevee.spotify
Name: EeveeSpotify
Version: 5.2
Architecture: iphoneos-arm
Description: A tweak to get Spotify Premium for free, just like Spotilife
Maintainer: Eevee
Author: Eevee
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0), org.swift.protobuf.swiftprotobuf (>= 1.28.1)
